.ExpandablePanel {
  position: relative;
  width: var(--width);
  min-width: 200px;
}

.DragHandle {
  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 100%;

  background: transparent;
}

.DragHandle:hover {
  background: var(--gray-4);
}

.DragHandle:active {
  background: var(--accent-4);
}
